# Ignore node_modules folder
node_modules/
__pycache__/
.vscode/

# Ignore environment variables
.env
codegenagent/.env
CrewAi/.env
ai/


# Ignore log files
*.log

# Ignore macOS system files
.DS_Store

myvenv/
codegenagent/ai/
.vscode
